input {
  display: block;
  border: none;
  width: 240px;
  font-size: 70px;
  text-align: center;
  position: absolute;
  top: 100px;
  left: 80px;
}

input:focus {
  outline: none;
}
svg {
  position: relative;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 90px;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 300px;
  top: 200px;
  left: 55px;
}
